# Ambiente virtual
venv/

# Arquivos Python compilados
__pycache__/
*.py[cod]

# Arquivos de ambiente
.env
*.env

# Logs
*.log

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# IDEs e editores
.vscode/
.idea/
*.swp